.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.container h2 > span {
  color: red;
}

.container p {
  font-size: 1.25rem;
}