.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  max-width: 980px;
  margin-top: 5rem;
}

.profileImageContainer {
  position: relative;
  width: 600px;
}

.profileImageContainer > img {
  display: block;
  width: 100%;
}

.profileDescriptionContainer {
  display: flex;
  flex-direction: column;
  width: 380px;

  border: 1px solid rgb(212, 212, 212);
  padding: 0rem 2rem 0rem 3rem;
}

.profileDescriptionContainer > h2 {
  font-size: 3rem;
  font-weight: 500;

  margin-top: 4rem;
}

.profileInfoContainer > p {
  font-size: 1.5rem;

  margin-top: 2rem;
}

.profileContactContainer {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.profileContactContainer > span {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.profileSocials {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.profileSocials a {
  transition: color 0.2s;
}

.profileSocials a:hover {
  color: var(--highlight);
}

.profileEmail {
  font-weight: 500;
}

@media(max-width: 1080px) {
  .profileContainer {
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .profileDescriptionContainer {
    width: 600px;
  }

  .profileEmail{
    margin-bottom: 2rem;
  }
}

@media(max-width: 720px) {
  .profileImageContainer {
    width: 400px;
  }

  .profileDescriptionContainer {
    width: 400px;
  }
}