.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.profileImageContainer {
  position: relative;
  width: 600px;
}

.profileImageContainer > img {
  display: block;
  width: 100%;
}

.profileDescriptionContainer {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 600px;

  border: 1px solid rgb(212, 212, 212);
  padding: 0rem 2rem 0rem 3rem;
}

.profileDescriptionContainer > h2 {
  font-size: 3rem;
  font-weight: 500;

  margin-top: 4rem;
}

.profileInfoContainer > p {
  font-size: 1.5rem;

  margin-top: 2rem;
}

.profileContactContainer {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.profileContactContainer > span {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.profileSocials {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.profileSocials a {
  transition: color 0.2s;
}

.profileSocials a:hover,
.profileSocials a:focus {
  color: var(--highlight);
  text-decoration: underline;
}

.profileEmail {
  font-size: 0.9rem;
}

@media(max-width: 1080px) {
  .profileContainer {
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .profileDescriptionContainer {
    width: 600px;
    height: auto;
  }

  .profileContactContainer > span {
    font-size: 1.5rem;
  }

  .profileSocials {
    font-size: 1.2rem;
  }
  .profileEmail{
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
}

@media(max-width: 720px) {
  .profileImageContainer {
    width: 300px;
  }

  .profileDescriptionContainer > h2 {
    font-size: 2.5rem;
  }

  .profileInfoContainer > p {
    font-size: 1rem;
  }
  
  .profileContactContainer {
    margin-top: 2.5rem;
  }

  .profileDescriptionContainer {
    width: 300px;
  }

  .profileContactContainer > span {
    font-size: 1.2rem;
  }

  .profileSocials {
    font-size: 0.9rem;
  }

  .profileEmail{
    font-size: 0.9rem;
  }
}